<!----------------------------------------------------------------------------------------------------------------------
  -- App Component
  --------------------------------------------------------------------------------------------------------------------->

<template>
	<div id="app">
		<site-header></site-header>
		<router-view></router-view>
	</div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss">
	#app {
        height: calc(100% - 64px);
	}
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------

	// Components
	import SiteHeader from './components/ui/header.vue';

	//------------------------------------------------------------------------------------------------------------------

	export default {
		components: {
			SiteHeader
		}
	}
</script>

<!--------------------------------------------------------------------------------------------------------------------->
