<!----------------------------------------------------------------------------------------------------------------------
  -- SiteFooter
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <b-container id="site-footer" class="text-center">
        <hr>
        <ul class="list-inline mt-2 mb-0">
            <li class="list-inline-item mr-0">
                <a href="https://gitlab.com/skewed-aspect/hexshoot">
                    <fa :icon="[ 'fab', 'gitlab' ]"></fa>
                    GitLab Project
                </a>
            </li>
            <li class="list-inline-item mr-0">
                <span class="mr-2 ml-2">&bull;</span>
                <a href="https://gitlab.com/skewed-aspect/hexshoot/issues/new">
                    <fa icon="bug"></fa>
                    Report Issue
                </a>
            </li>
        </ul>
        <div class="mt-1 mb-2 text-muted text-center">
            <small>v{{ version }}</small>
        </div>
    </b-container>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    // #site-footer {
    // }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------

    import { version } from '../../../package.json'

    //------------------------------------------------------------------------------------------------------------------

    export default {
        name: 'SiteFooter',
        computed: {
            version(){ return version; }
        },
        data()
        {
            return {
                // Data goes here
            };
        }
    }
</script>

<!--------------------------------------------------------------------------------------------------------------------->
