<!----------------------------------------------------------------------------------------------------------------------
  -- Site Header
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <b-navbar id="site-header" toggleable="lg" type="dark" variant="dark">
        <b-navbar-brand to="/">
<!--            <img src="../assets/images/agrinet-nav-logo.png" class="d-inline-block align-top" alt="AgriNet" />-->
                Hex Shooter
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
                <b-nav-item to="/map">Map</b-nav-item>
            </b-navbar-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
                <b-nav-text>{{ playerName }}</b-nav-text>
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    // #site-header {
    // }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------

    // Managers
    import playerMan from '../../api/managers/player';

    //------------------------------------------------------------------------------------------------------------------

    export default {
        name: 'SiteHeader',
        subscriptions()
        {
            return {
                currentPlayer: playerMan.currentPlayer$
            };
        },
        computed: {
            playerName()
            {
                if(this.currentPlayer)
                {
                    return this.currentPlayer.name || 'Unknown Player';
                } // end if

                return 'No Player'
            }
        }
    }
</script>

<!--------------------------------------------------------------------------------------------------------------------->
