<!----------------------------------------------------------------------------------------------------------------------
  -- Home Page
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <div>
        <b-container id="home-page" class="mt-2">
            <p class="text-center">
                This is a just a proof of concept for a hex-grid based space game. So, basically, don't expect much.
            </p>
            <p class="text-center">
                <b-col cols="6" offset="3">
                    <b-form-group
                        description="Pick a name to be shown to the other players."
                        label="Name"
                        label-for="name-input"
                    >
                        <b-form-input id="name-input" v-model="name" trim></b-form-input>
                    </b-form-group>
                </b-col>
                <b-btn variant="success" :disabled="!name" @click="setName">
                    <fa icon="save"></fa>
                    Set Player Name
                </b-btn>
                <b-btn variant="primary" :disabled="isMapDisabled" @click="createScenario">
                    <fa icon="map"></fa>
                    Go to Map
                </b-btn>
            </p>
        </b-container>
        <site-footer></site-footer>
    </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss">
	// #home-page {
	// }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
	//------------------------------------------------------------------------------------------------------------------

    // Components
    import SiteFooter from '../components/ui/footer.vue';

    // Managers
    import playerMan from '../api/managers/player';
    import scenarioMan from '../api/managers/scenario';

	//------------------------------------------------------------------------------------------------------------------

	export default {
        name: "HomePage",
		components: {
            SiteFooter
        },
        subscriptions()
        {
            return {
                player: playerMan.currentPlayer$
            };
        },
        data()
        {
            return {
                name: ''
            };
        },
        computed: {
            isMapDisabled()
            {
                return !(this.player || {}).name;
            }
        },
        methods: {
            setName()
            {
                playerMan.setCurrentName(this.name);
            },
            createScenario()
            {
                scenarioMan.createScenario('test')
                    .then((scenario) =>
                    {
                        console.log('created scenario:', scenario);
                        this.$router.push('/map');
                    });
            }
        }
	}
</script>

<!--------------------------------------------------------------------------------------------------------------------->

