<!----------------------------------------------------------------------------------------------------------------------
  -- MapPage
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <div id="map-page">
        This is the map page
    </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    #map-page {
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------

    // Imports go here

    //------------------------------------------------------------------------------------------------------------------

    export default {
        name: 'MapPage',
        data()
        {
            return {
                // Data goes here
            };
        }
    }
</script>

<!--------------------------------------------------------------------------------------------------------------------->
